<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Robert's Shadow Kickboxing</title>
        <link rel="stylesheet" href="resources/css/styles.css">
    </head>
    <body>
        <header>
            <div class="banner">
                <div class="bannerFill">
                    <h2 class="subtitleLine1 subtitle">Robert's</h2>
                    <h1 class="title">Shadow Kickboxing</h1>
                    <h2 class="subtitleLine2 subtitle">Generator</h2>
                </div>
            </div>
        </header>

        <main>
            <div class="contentBox">
                <h3>Step 1</h3>
                <h4>Introduction</h4>
                <p>To practice your kickboxing skills, this website will generate an audio file with shadowboxing instructions.</p>
                <p>First choose your settings under step 2. The chosen rule set will determine the moves allowed, Number of rounds, timings and speed of instructions can also be set.</p>
                <p>When you are happy with your settings, press the generate button. A file will be generated for you. You can play or download this file under step 3.</p>
                <br>
                <p class="greeting">Have fun!!!</p>
            </div>

            <div class="contentBox">
                <div class="subContentBox1">
                    <h3>Step 2</h3>
                    <h4>Settings and generate</h4>
                    <table>
                        <tr>
                            <td><label>Rule set</label></td>
                            <td>drop down here</td>
                        </tr>
                        <tr>
                            <td><label>Number of rounds</label></td>
                            <td>slider here</td>
                        </tr>
                        <tr>
                            <td><label>Round length</label></td>
                            <td>slider here</td>
                        </tr>
                        <tr>
                            <td><label>Break length</label></td>
                            <td>slider here</td>
                        </tr>
                        <tr>
                            <td><label>Speed of commands</label></td>
                            <td>slider here</td>
                        </tr>
                    </table>
                </div>

                <div class="subContentBox2">
                    <a href="#" class="btn">Generate</a>
                </div>
            </div>

            <div class="contentBox">
                <div class="subContentBox1">
                    <h3>Step 3</h3>
                    <h4>Play and practice</h4>
                </div>

                <div class="subContentBox2">
                    <a href="#" class="btn">Download</a>
                </div>
            </div>

            <div class="contentBox">
                <aside>

                </aside>
            </div>
        </main>

        <footer>
            <div class="labels copyright">
                <p><span class="labelMessage">Robert van den Eijk, 2020.</span><span class="labelIndicator">©</span></p>
            </div>

            <div class="labels contact">
                <p><span class="labelMessage">Contact me.</span><span class="labelIndicator">@</span></p>
            </div>

            <div class="labels enjoy">
                <p>Enjoy and get fit!</p>
            </div>
        </footer>
    </body>
</html>