@import "fonts/anton/stylesheet.css";
@import "fonts/lobster/stylesheet.css";
@import "fonts/roboto/stylesheet.css";


body {
    min-width: 515px;
}

h3 {
    font-family: robotoregular, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1.35em;
    color: #444444;
}

label, p {
    font-family: robotoregular, sans-serif;
    font-size: 1.25em;
    color: #555555;
}

.banner {
    background-color: #142850;
    height: 200px;
    margin-bottom: 10px;
    padding: 25px 0;
    text-align: center;
}

.banner-link:hover {
    text-decoration: none;
}

.subtitleLine1 {
}

.subtitleLine2 {
    font-size: 2.5em;
}

.subtitle {
    color: #00a8cc;
    font-family: lobsterregular, serif;
    font-weight: normal;
    text-shadow: 0 0 5px #00b3ff;
}

.title {
    color: white;
    font-family: antonregular, sans-serif;
    font-size: 4em;
    margin: -20px 0 1px;
    text-shadow: 0 0 10px #00b3ff;
}

.subSubtitle {
    font-size: 0.75em;
    color: white;
    font-family: robotoregular, sans-serif;
    text-shadow: 0 0 5px #00b3ff;
    position: relative;
    top: -26px;
    left: 52px;
    display: inline;
}

.navigation-bar {
    text-align: center;
    position: relative;
    top: -10px;
    font-family: robotoregular, sans-serif;
    font-size: 1em;
    background-color: #dae1e7;
    height: 25px;
}

.navigation-bar-link {
    margin: 0 6px;
    color: #142850;
}

.navigation-bar-link:visited {
    color: #142850;
}

.navigation-bar-link:hover {
    color: #00a8cc;
}

.navigation-bar-link:active {
    color: #142850;
}

.btn-toggle-custom {
    font-family: robotoregular, sans-serif;
    font-size: 1em;
    margin-top: 45px;
}

.main-content-simple {
    margin-top: 50px;
    text-align: center;
}

.main-content-expert {
    margin-top: 50px;
    text-align: center;
    display: none;
}

.custom-dropdown {
    left: 50%;
    transform: translateX(-50%);
}

.btn-download-custom {
    font-family: robotoregular, sans-serif;
    font-size: 1.4em;
    margin-top: 30px;
}

.tooltip-item {
    position: relative;
    display: flex;
    font-family: robotoregular, sans-serif;
    font-size: 1.5em;
    color: #BBBBBB;
}

.tooltip-item-dropdown {
    left: 92%;
    bottom: 14px;
}

.tooltip-item-button {
    left: 92%;
    top: 17px;
}

.tooltip-item .tooltip-text {
    visibility: hidden;
    width: 300px;
    font-family: robotoregular, sans-serif;
    font-size: 1rem;
    background-color: #555555;
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 58%;
    margin-left: -300px;
    margin-bottom: 25px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-item .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-item:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.info {
    text-align: justify;
}

.info-tooltip-item .info-tooltip-text {
    visibility: hidden;
    width: 400px;
    font-family: robotoregular, sans-serif;
    font-size: 1rem;
    background-color: #555555;
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -200px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-tooltip-item .info-tooltip-text::after {
    content: "";
    position: absolute;
    top: -2%;
    left: 58%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.info-tooltip-item:hover .info-tooltip-text {
    visibility: visible;
    opacity: 1;
}

