@import "fonts/anton/stylesheet.css";
@import "fonts/lobster/stylesheet.css";
@import "fonts/roboto/stylesheet.css";



body {
    min-width: 515px;
}

h3 {
    font-family: robotoregular, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1.35em;
    color: #444444;
}

label, p {
    font-family: robotoregular, sans-serif;
    font-size: 1.25em;
    color: #555555;
}

a {
    margin: 0 1px;
}

a:link {
    color: #142850;
}

a:visited {
    color: #142850;
}

a:hover {
    color: #00a8cc;
}

a:active {
    color: #142850;
}



.banner {
    background-color: #142850;
    height: 200px;
    margin-bottom: 10px;
    padding: 25px 0;
    text-align: center;
}

.subtitleLine1 {
}

.subtitleLine2 {
    font-size: 2.5em;
}

.subtitle {
    color: #00a8cc;
    font-family: lobsterregular, serif;
    font-weight: normal;
    text-shadow: 0 0 5px #00b3ff;
}

.title {
    color: white;
    font-family: antonregular, sans-serif;
    font-size: 4em;
    margin: -20px 0 1px;
    text-shadow: 0 0 10px #00b3ff;
}

.subSubtitle {
    font-size: 0.75em;
    color: white;
    font-family: robotoregular, sans-serif;
    text-shadow: 0 0 5px #00b3ff;
    position: relative;
    top: -26px;
    left: 52px;
    display: inline;
}

.contact {
    text-align: center;
    position: relative;
    top: -10px;
    font-family: robotoregular, sans-serif;
    font-size: 0.75em;
    background-color: #dae1e7;
    height: 20px;
}



.main-content {
    margin-top: 50px;
    text-align: center;
}

.custom-dropdown {
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    margin-top: 25px;
}

.info {
    text-align: justify;
}
