<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Robert's Shadow Kickboxing</title>
        <link rel="stylesheet" href="resources/css/styles.css">
    </head>
    <body>
        <header>
            <div class="banner">
                <div class="bannerFill">
                    <h2 class="subtitleLine1 subtitle">Robert's</h2>
                    <h1 class="title">Shadow Kickboxing</h1>
                    <h2 class="subtitleLine2 subtitle">Generator</h2>
                </div>
            </div>
        </header>

        <main>
            <div class="contentBox">
                <h3>Step 1</h3>
                <h4>Introduction</h4>
                <p>To practice your kickboxing skills, this website will generate an unique audio file with instructions for shadowboxing.</p>
                <p>Choose your settings and press the download button. A custom mp3 file will be offered to you. Try to follow the instructions of the audio file. For added practice, use a mirror or boxing bag.</p>
                <p>Note that this website is still in beta. This means a lot of improvements (and sometimes fallbacks) will be implemented.</p>
                <br>
                <p class="greeting">Have fun!!!</p>
            </div>

            <div class="contentBox">
                <div class="subContentBox1">
                    <h3>Step 2</h3>
                    <h4>Settings and generate</h4>
                    <form action="download" method="post"
                        <label>Speed
                            <select id="speed" name="speed">
                                <option th:each="speed : ${speedList}" th:value="${speed.speedId}" th:text="${speed.description}" th:selected="${speed.getDescription() == 'normal'}"></option>
                            </select>
                        </label>
                    </form>
                </div>

                <div class="subContentBox2">
                    <a href="#" class="btn">Download</a>
                </div>
            </div>


        </main>

        <footer>
            <div class="labels copyright">
                <p><span class="labelMessage">Robert van den Eijk, 2020.</span><span class="labelIndicator">©</span></p>
            </div>

            <div class="labels contact">
                <p><span class="labelMessage">Contact me.</span><span class="labelIndicator">@</span></p>
            </div>

            <div class="labels enjoy">
                <p>Enjoy and get fit!</p>
            </div>
        </footer>
    </body>
</html>